{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>测试记录</title>
		<link rel="stylesheet" href={% static "css/common.css" %} />
		<link rel="stylesheet" href={% static "css/style.css" %} />
	</head>
	<body id="debug">
		<header>
			<span>测试问题记录</span>
			<nav>
				<a href="bug">新增</a>
			</nav>
		</header>
		<section class="debug-list">
			<a class="list-item" href="bug">
				<h3>gdfgfd<span>完成</span></h3>
				<p>216.6.29</p>
			</a>
		</section>
	</body>
{#	<script type="text/javascript" src={% static "js/jquery-2.1.1.min.js" %} ></script>#}
{#	<script type="text/javascript" src={% static "js/vue.js" %} ></script>#}
{#	<script src = "https://cdn.wilddog.com/js/client/current/wilddog.js" ></script>#}
{#	<script type="text/javascript" src="js/wildDog.js" ></script>#}
{#	<script src="js/public.js"></script>#}
{#	<script type="text/javascript">#}
{#	</script>#}
</html>
